<!DOCTYPE html>
<html lang="en">
<head>
  {{>headTag}}
</head>
<body>
  {{>navbar}}

      <div class="errorpage">
        <figure>
            <img src="https://img.freepik.com/free-vector/internet-network-warning-404-error-page-file-found-web-page-internet-error-page-issue-found-network-404-error-present-by-man-sleep-display_1150-55450.jpg?size=626&ext=jpg&ga=GA1.2.44079261.1661245244" alt="error image">
        </figure>
        <h2>Opps!! The page cannot be found</h2>
      </div>
  {{>footer}}
</body>
</html>