<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/aboutMe.css">
    
</head>
<body>
    <header>
        <nav>
            <ul class="horizontal-list">
                <li class="list-style"><a class="link-style nav-li-selector" href="#">Home</a></li>
                <li class="list-style"><a class="link-style nav-li-selector" href="#about">About</a></li>
                <li class="list-style"><a class="link-style nav-li-selector" href="#skills">Skills</a></li>
                <li class="list-style"><a class="link-style nav-li-selector" href="#certifications">Certifications</a></li>
                <li class="list-style"><a class="link-style nav-li-selector" href="#education">Education</a></li>
                <li class="list-style"><a class="link-style nav-li-selector" href="#portfolio">Portfolio</a></li>
                <li class="list-style"><a class="link-style nav-li-selector" href="#contact">Contact</a></li>
            </ul>
            <a class="ham-burger" href="#hidden-list">
                <div>
                    <div class="my-burger"></div>
                </div>
            </a>

        </nav>
        <div id="hidden-list" class="my-hidden-list">
            <div class="show-hidden-list">
                <ul class="list">
                    <li class="list-style"><a class="link-style nav-li-selector" href="#">Home</a></li>
                </ul>
                
            </div>
            <div class="show-hidden-list">
                <ul class="list">
                    <li class="list-style"><a class="link-style nav-li-selector" href="#about">About</a></li>
                </ul>
                
            </div>
            <div class="show-hidden-list">
                <ul class="list">
                    <li class="list-style"><a class="link-style nav-li-selector" href="#skills">Skills</a></li>
                </ul>
                
            </div>
            <div class="show-hidden-list">
                <ul class="list">
                    <li class="list-style"><a class="link-style nav-li-selector" href="#certifications">Certifications</a></li>
                </ul>
            </div>
            <div class="show-hidden-list">
                <ul class="list">
                    <li class="list-style"><a class="link-style nav-li-selector" href="#education">Education</a></li>

                </ul>
            </div>
            <div class="show-hidden-list">
                <ul class="list">
                    <li class="list-style"><a class="link-style nav-li-selector" href="#portfolio">Portfolio</a></li>
                </ul>
            </div>
            <div class="show-hidden-list">
                <ul class="list">
                    <li class="list-style"><a class="link-style nav-li-selector" href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="show-hidden-list">
                <ul class="list">
                    <li class="list-style"><a class="link-style" href="#"><h3>Cancel</h3></a></li>
                </ul>
            </div>
        </div>
        <div class="user-info">
            <h1>
                Ankit Arul
            </h1>
            <div class="user-contact-icons">
                <a href="https://www.linkedin.com/in/ankit-arul-88011a1b4/"><i class="fa-brands fa-linkedin icon-style"></i></a>
                <a href="https://github.com/AnkitArul007"><i class="fa-brands fa-github icon-style"></i></a>
                <a href=""><i class="fa-brands fa-instagram icon-style"></i></a>
                
            </div>
        </div>
        
    </header>

    <main>
        <section id="about">
            <div class="user-image">
                <img src="images/userImg.jpg" alt="user-image" width="200px" height="200px">
            </div>
            <p class="about-me">
                I am a fresher, looking for an <b>Entry-level</b> position in the field of Web Development. My strength is that I can adapt quickly to different environments. My <b>goal</b> is to deep-dive into the world of <b>web-development</b> and get into a reputed organization, where I can grow my interpersonal skills and also contribute towards the growth of the organization.
            </p>
        </section>
        <section id="skills">
            <div class="skill-section">
                <h2 class="section-headings"><i class="fas fa-laptop-code"></i>&ensp;Skills</h2>
                <div class="skills-acquired-cont">
                    <div class="my-skill">
                        <div target-width="70" class="seventy-percent animatedBars">
                            <span class="text">JavaScript</span>
                        </div>
                    </div>
                    <div class="my-skill">
                        <div target-width="65" class="sixtyFive-percent animatedBars">
                            <span class="text">ReactJS</span>
                        </div>
                    </div>
                    <div class="my-skill">
                        <div target-width="75" class="seventyFive-percent animatedBars">
                            <span class="text">NodeJS</span>
                        </div>
                    </div>
                    <div class="my-skill">
                        <div target-width="90" class="ninty-percent animatedBars">
                            <span class="text">HTML</span>
                        </div>
                    </div>
                    <div class="my-skill">
                        <div target-width="80" class="eighty-percent animatedBars">
                            <span class="text">CSS</span>
                        </div>
                    </div>
                    <div class="my-skill">
                        <div target-width="72" class="seventyTwo-percent animatedBars">
                            <span class="text">MongoDb</span>
                        </div>
                    </div>
                    <div class="my-skill">
                        <div target-width="50" class="fifty-percent animatedBars">
                            <span class="text">Python</span>
                        </div>
                    </div>
                    <div class="my-skill">
                        <div target-width="50" class="fiftyOne-percent animatedBars">
                            <span class="text">C++</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="certifications">
            <div class="certification-section">
                <h2 class="section-headings"><i class="fas fa-certificate"></i></i>&ensp;Certifications</h2>
                <div class="certification-cont">
                    <div class="my-certificates">
                        <div class="cert-info">
                            <div class="intro-info">
                                <img src="https://files.codingninjas.in/0000000000000723.jpg" alt="CN-logo" >
                                <h3 class="certificate-heading">MERN Stack</h3>
                            </div>
                            <div class="desc">
                                <h4>Coding Ninjas</h4>
                                <p>I am pursuing Full Stack Web Development course in MERN with Coding Ninjas. Here I have acquired skills like Html, Css, Javascript which are the basic pillar of a front-end developer. Apart from this I am also comfortable with ReactJS and NodeJS(backend) with mongoDb.</p>
                            </div>
                        </div>
                    </div>
                    <div class="my-certificates">
                        <div class="cert-info">
                            <div class="intro-info">
                                <img src="https://files.codingninjas.in/0000000000000723.jpg" alt="CN-logo" >
                                <h3 class="certificate-heading">Python programming with DSA</h3>
                            </div>
                            <div class="desc">
                                <h4>Coding Ninjas</h4>
                                <p>I have completed the basics of Python programming course along with Data Structures and Algorithms certificate from Coding Ninjas. In this course the core insights of Python and also about different data-structures e.g: Linked lists, BST etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="my-certificates">
                        <div class="cert-info">
                            <div class="intro-info">
                                <img src="https://popsql.com/static/external-logos/freecodecamp.png" alt="fcc-logo">
                                <h3 class="certificate-heading">DSA with JavaScript</h3>

                            </div>
                            <div class="desc">
                                <h4>free Code Camp</h4>
                                <p>I have completed the Data Structures and Algorithm certification in JavaScript with freeCodeCamp. Here I learned complete JavaScript basics and Advanced JavaScript along with DSA. This course was around 300 hours long. You can find my fCC projects at my <a href="">codepen.io</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="my-certificates">
                        <div class="cert-info">
                            <div class="intro-info">
                                <img src="https://popsql.com/static/external-logos/freecodecamp.png" alt="fcc-logo">
                                <h3 class="certificate-heading">Responsive Web Design</h3>

                            </div>
                            <div class="desc">
                                <h4>free Code Camp</h4>
                                <p>I have completed the Responsive Web Design Course with freeCodeCamp along with all its project. This course was around 300 hours long where I learned all the bascis to advanced CSS. You can find my fCC projects at my <a href="">codepen.io</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="my-certificates">
                        <div class="cert-info">
                            <div class="intro-info">
                                <img src="https://media.glassdoor.com/sqll/996240/testbook-com-squarelogo-1560754242147.png" alt="fcc-logo">
                                <h3 class="certificate-heading">Full Stack Web Development</h3>

                            </div>
                            <div class="desc">
                                <h4>TestBook</h4>
                                <p>I have done the Full Stack Web Dev course from TestBook where I learned all the fundamentals of Web Development. It helped me a lot to gain the required skills and enhance it with adequate amount of practice.<a href="">codepen.io</a></p>
                            </div>
                        </div>
                    </div>
                   
                    <div class="my-timeline">
                        <div class="timeline-traveller">
                            <i class="fas fa-plane my-plane"></i>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section id="education">
            <div class="education-section">
                <h2 class="section-headings"><i class="fa-solid fa-graduation-cap"></i>&ensp;Education</h2>
                <div class="education-cont">
                    <div class="my-education">
                        <div class="cert-info">
                            <div class="intro-info">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV2j1kCf3xlOu2aMBdPdoQZTjF_1dQOhOF3g&usqp=CAU">
                                <h3 class="certificate-heading">Masters In Computer Application</h3>

                            </div>
                            <div class="desc">
                                <h4>Lovely Proffessional University</h4>
                                <p>Curently I am pursuing MCA from LPU via online-mode. I am pursuing this course for enhancing my skills and to deep-dive into the world of Computer Science.</p>
                            </div>
                        </div>
                    </div>
                    <div class="my-education">
                        <div class="cert-info">
                            <div class="intro-info">
                                <img src="https://i.pinimg.com/originals/8b/a6/15/8ba615e8c14d1ebb6cb54ead8bd6e175.png">
                                <h3 class="certificate-heading">B.Tech Mecahnical</h3>

                            </div>
                            <div class="desc">
                                <h4>Amity University, NOIDA</h4>
                                <p>I have completed my graduation in Mechanical Engineering from Amity University NOIDA.</p>
                            </div>
                        </div>
                    </div>
                    <div class="my-education">
                        <div class="cert-info">
                            <div class="intro-info">
                                <img src="https://thumbs.dreamstime.com/b/letter-dps-simple-monogram-logo-icon-design-letter-dps-simple-monogram-logo-icon-design-initial-logo-vector-illustration-198235864.jpg">
                                <h3 class="certificate-heading">10th & 12th</h3>

                            </div>
                            <div class="desc">
                                <h4>Delhi Public School, Bhagalpur</h4>
                                <p>I have completed my schooling from DPS, Bhagalpur(hometown) which has always played an integral part in my life. Here I found so many  good root nurtures and mentors who has helped and guided me always.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="my-timeline-car">
                        <div class="timeline-traveller">
                            <i class="fas fa-car my-car"></i>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section id="portfolio">
            <div class="portfolio-section">
                <h2 class="section-headings"><i class="fas fa-tasks"></i>&ensp;Portfolio</h2>
                <div class="project-cont-main">
                    <div class="my-projects">
                        <div class="cert-info">
                            <div class="intro-info">
                                <h3 class="certificate-heading">My Portfolio Website</h3>

                            </div>
                            <div class="desc">
                                <h4>Front-end and Backend</h4>
                                <p>This is my portfolio website, created by me, which used Html, Css, Javascript and also NodeJs along with database. I have used almost all the concepts in this project which I have learned in Full Stack Web Development journey.</p>
                            </div>
                        </div>
                    </div>
                    <div class="my-projects">
                        <div class="cert-info">
                            <div class="intro-info">
                                <h3 class="certificate-heading">Drum-kit</h3>

                            </div>
                            <div class="desc">
                                <h4>Front-end</h4>
                                <p>The Drum-kit is created using concepts of Html, Css and JavaScript. It also has an <b>auto-play</b> feature, where user can just click on the button once and enjoy the Drum-kit as it will play automatically on its own. Featurtes like <b>sound-control</b> and <b>theme changer</b> are also there. Functions of keyboard listenes has also been used in this project.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="my-projects">
                        <div class="cert-info">
                            <div class="intro-info">
                                <h3 class="certificate-heading">Quiz App</h3>

                            </div>
                            <div class="desc">
                                <h4>Front-end</h4>
                                <p>This was my Major Project by Skill Academy at Textbook. This project uses the concepts of front-end web development such as Html, Css and JavaScript. In this project some key concepts of JS like<b> session storage</b> and <b>form-validation</b> is used. Once the user selects which quiz section to attempt after entering the name and completes the whole quiz which is also connected with timer, gets a detailed analytics of their performance in the quiz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="my-projects">
                        <div class="cert-info">
                            <div class="intro-info">
                                <h3 class="certificate-heading">To-Do List</h3>

                            </div>
                            <div class="desc">
                                <h4>Front-end</h4>
                                <p>This project uses the whole application of CRUD (create, read, update and delete). Concept of <b>local storage</b> is also been is used in it. Once a user creates a to-do and hover over the to-do, he/she gets three option which slides in through right-end where the user gets edit, mark-as-done and delete options. All the changes are saved in the <b>local storage</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="my-projects">
                        <div class="cert-info">
                            <div class="intro-info">
                                <h3 class="certificate-heading">Calculator</h3>

                            </div>
                            <div class="desc">
                                <h4>Front-end</h4>
                                <p>It is a basic calculator which can perform all the essential and basic functions of a calculator. This project is created using Html, Css and Javascript Algorithms.</p>
                            </div>
                        </div>
                    </div>
                    <div class="my-projects">
                        <div class="cert-info">
                            <div class="intro-info">
                                <h3 class="certificate-heading">Weather Website</h3>

                            </div>
                            <div class="desc">
                                <h4>Front-end and Backend</h4>
                                <p>This is my Weather Api website, created by me, which used Html, Css, Bootstrap, Javascript and also NodeJs along with API integration. The user can get inside the website and enter the city name of which they need to know the weather. I have used almost all the concepts in this project which I have learned in Full Stack Web Development journey.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <section id="contact">
            <div class="contact-section">
                <h2 class="section-headings footer-color"> <i class="fa-solid fa-address-card"></i> &ensp;Contact</h2>
                <div class="inner-contact-section">
                    <div class="fill-form">
                        <div class="input-box">
                            <input type="text" placeholder="Your Name" required/>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Your Email" required/>
                        </div>
                        <div class="input-box">
                            <textarea name="message" cols="30" rows="2" placeholder="Message"></textarea>
                        </div>
                        
                        <button type="submit">Send Messsage</button>
                    </div>
                    <div class="get-in-touch footer-color">
                        <h3>Get in touch</h3>
                        <p>This is my portfolio website. All my projects, skills and other useful information of mine are available here.</p>
                        <h3>My Address</h3>
                        <p><i class="fa-solid fa-location-dot"></i>&emsp; Bhagalpur, Bihar, India</p>
                        <p><i class="fa-solid fa-mobile"></i>&emsp; +(91) 88 00 873 515</p>
                        <p><i class="fa-regular fa-envelope"></i>&emsp;ankitarulpandey@gmail.com</p>
                    </div>

                </div>
                <div class="user-contact-icons">
                    <a href="https://www.linkedin.com/in/ankit-arul-88011a1b4/"><i class="fa-brands fa-linkedin icon-style"></i></a>
                    <a href="https://github.com/AnkitArul007"><i class="fa-brands fa-github icon-style"></i></a>
                    <a href=""><i class="fa-brands fa-instagram icon-style"></i></a>
                    
                </div>
            </div>
        </section>
    </footer>

    <script src="https://kit.fontawesome.com/855be9977c.js" crossorigin="anonymous"></script>
    <script src="js/aboutMe.js"></script>
</body>
</html>