<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Weather App</title>
    <!-- Fonts Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>navbar}}
      <div class="body">
         <div class="main">
          <form class="input">
              <input type="text" name="city" id="searchBar" autocomplete="off" placeholder="Enter the city name...">
              <button id="btn" type="submit" class="buttons customized">Enter</button>
          </form>
          <div class="weatherInfo">
              <div class="extraInfo">
                <p id="Day">
                  tuesday
                </p>
                <p id="date">
                  13 oct
                </p>
              </div>
              <div class="showStatus">
                <p id="city_name">Get Your Output Here</p>
                <div class="data data-hidden">
                  <p><span  id="temp">0</span><sup>o</sup>C</p>
                  <p id="status-img"><i class="fa-solid fa-clouds"></i></p>
                </div>
              </div>
          </div>
      </div>
      </div>
     

      {{>footer}}
      <script src="js/main.js"></script>
</body>
</html>
