<header>
    <nav>
    <h3 class="header"><i class="fa-solid fa-snowflake rotate"></i> The Weather Info <i class="fa-solid fa-snowflake rotate"></i></h3>
    <div class="nav-tabs">
        <ul>
        <li class="tabs"><a href="/">Home</a></li>
        <li class="tabs"><a href="/weather">Weather</a></li>
        <li class="tabs"><a href="/about">About</a></li>
        </ul>
    </div>
    </nav>
</header>